.home {
  background: var(--main-bg-color);
  height: 100vh;

  main {
    height: calc(100% - 64px);
    position: relative;
    background: var(--secondary-bg-color);
    display: flex;

    aside.sider {
      position: relative;
      height: 100%;
      transition: all .3s;
      background: var(--main-bg-color);
      color: var(--text-color);
      width: 200px;
      min-width: 200px;
      > div:first-child {
        border-bottom: 1px solid var(--border-color);
      }
    }
    aside.sider-right {
      position: relative;
      height: 100%;
      transition: all .3s;
      background: var(--main-bg-color);
      color: var(--text-color);
      width: 288px;
    }
    section {
      flex: 1;
      background: var(--secondary-bg-color);
      padding: 20px;
      transition: all .3s;
      .content {
        width: 100%;
        height: 100%;
        overflow: auto;
      }
    }
  }
}